<div class="text-center my-1">
    <h2 class="display-5">Welcome to my WebAutoPark project</h2>
    <p>This project is reengineering of Autopark project</p>
    <a href="https://github.com/ArtyomKolosov2/AutoPark">Autopark GitHub</a> |
    <a href="https://github.com/Dev-incubator/WebAutoparkArtem">WebAutopark GitHub</a>
</div>
<div class="text-primary my-2">
    <h5>You can use CRUD to work with Vehicles, Vehicle type, Vehicle parts and etc. :</h5>
    <ul>
        <li>Create</li>
        <li>Read</li>
        <li>Update</li>
        <li>Delete</li>
    </ul>
</div>

<ul class="list-group-item-light">
    <li>Created with: C# 9.0, .NET 5, ASP.NET Core, Dapper, Bootstrap, HTMl</li>
    <li>This project is a part of my education in Dev-Incubator</li>
</ul>
