<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
    @await Html.PartialAsync("_Favicons")
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link navbar-light" asp-controller="Vehicle" asp-action="ViewVehicles">
                        Show vehicles
                    </a>
                </li>
            </ul>  
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/js/libraries/jquery.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/libraries/bootstrap.min.js"></script>
    <script src="~/js/main.js" type="module"></script>
</body>
</html>
