@model VehicleTypeViewModel

@{ ViewData["Title"] = "Update"; }

<hr>
<h2>Update vehicle type: @Model.TypeName</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="VehicleTypeId" hidden="hidden" />
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="TypeName" class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tax coefficent</label>
                <input asp-for="TaxCoeff" class="form-control" />
                <span asp-validation-for="TaxCoeff" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-outline-success" /> |
                <a asp-action="ViewList" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>




